<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReportModifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <applicationSettings>
    
    <ReportModifier.Properties.Settings>
      <setting name="ReportModifier_ReportingService_2005_Administration_ReportingService2005" serializeAs="String">
          <value>http://cordb/ReportServer/ReportService2005.asmx</value>
      </setting>
      
      <setting name="ReportModifier_ReportingService_2005_Execution_ReportExecutionService" serializeAs="String">
          <value>http://cordb/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </ReportModifier.Properties.Settings>
    
  </applicationSettings>
  
  <!--
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  -->
  
</configuration>
