/****** Skript für SelectTopNRows-Befehl aus SSMS  ******/
SELECT TOP 1000 [ItemID]
      ,[Path]
      ,[Name]
      ,[ParentID]
      ,[Type]
      ,[Content]
      ,[Intermediate]
      ,[SnapshotDataID]
      ,[LinkSourceID]
      ,[Property]
      ,[Description]
      ,[Hidden]
      ,[CreatedByID]
      ,[CreationDate]
      ,[ModifiedByID]
      ,[ModifiedDate]
      ,[MimeType]
      ,[SnapshotLimit]
      ,[Parameter]
      ,[PolicyID]
      ,[PolicyRoot]
      ,[ExecutionFlag]
      ,[ExecutionTime]
  FROM [ReportServer].[dbo].[Catalog]
  WHERE ParentID IN (SELECT ItemID FROM [ReportServer].[dbo].[Catalog] WHERE ParentID IS NULL) 
  